* {
    /* border: solid red 1px; */
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header, .heroSection, .footer {
    background-color: #1f2937;
}

.infoSection, .callToAction {
    background-color: white;
}


.header {
    flex: auto;
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.headerImgNewFrostUnionLogo {
    height: 25px;
}

.HeaderLogo {
    position: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}


.heroSection {
    flex: auto;
    width: auto;
    height: 500px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heroTextContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.joinButtonHero {
    background-color: lightskyblue;
    border-radius: 15px;
    width: 120px;
    height: 40px;
}
.NewFrostUnionLogo {
    flex: 1;
    display: flex;
    padding: 3em;
}
.imgNewFrostUnionLogo {
    width: 400px;
    /* height: 400px; */
}
.heroSpacer {
    flex: 0.5;
}
.heroTitle {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.heroText, .headerItem {
    font-size: 18px;
    color: #e5e7eb;
}







.infoSection {
    flex: auto;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.infoItemContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4em;
    padding: 1em;
}
.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}
.infoImgHolder {
    border: solid rgb(79, 152, 176) 5px;
    border-radius: 25px;
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoText {
    text-align: center;
}
.infoImg {
    max-width: 160px;
}








.quoteSection {
    flex: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(179, 221, 221);
    padding: 5em;
}

.quoteContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.quoteSpacer {
    flex: 1;
}



.callToAction {
    flex: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5em;
}
.callContentBox, .callButton {
    background-color: rgb(87, 159, 241);
    color: white;
}
.callContentBox {
    width: 800px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.callText {
    flex: 3;
}
.callButton {
    flex: 1;
    border: #F9FAF8 solid 5px;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 1.2em;
}
.spacerCallContentBox {
    flex: 1;
}

.footer {
    flex: auto;
    height: 30px;
}
